* {
    font-family: copperplate, papyrus, fantasy;
    background-color: rgb(228, 244, 254);
}



h1 {
    text-align: center;
    color: rgb(0, 0, 37);
    font-size: 45px;
}

ul,
a:link,
a:visited {
    font-size: 23px;
    color: rgb(0, 49, 49);
    text-decoration: none;
}
